<footer class="container" style="margin-top: 100px;">
  <p class="text-center">Copyright o2017 S电影评论网
    <br>Design by
      <a href="http://courses.growthschool.com/courses/rails101/" target=_new>S</a>
    </p>
  </footer>
  <!-- 以上部分，不需要记忆 -->
